{% extends "admin/change_form.html" %}
{% load i18n %}


{% load static %}

<!-- Override extrahead to add Chart.js -->
{% block extrahead %}
{{ block.super }}

{% endblock %}


{% block content %}
<script type="text/javascript">opener.dismissAddAnotherPopup(window, "%s", "%s");</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script  >
   $(document).ready(function(){
        console.log('hello ')
    });
    </script>



<!-- Render the rest of the ChangeList view -->
{{ block.super }}
{% endblock %}